body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(40, 40, 41);
}

.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 10px;
    color: rgb(250, 11, 234);
    height: 20px;
    width: 200px;
    margin-left: 35px;
    border-radius: 2rem;
}

.wrapper{
    background: rgb(216, 216, 216);
    border-radius: 1rem;
    width: 300px;
    height: 400px;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    margin: 0;
    padding: 10px;
    border-radius: 1rem 1rem 0 0;
    font-size: 20px;
}

.amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.amount p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 5, 5);
}

.amount input{
    height: 30px;
    outline: none;
    width: 180px;
}
.drop-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to{
    margin-right: 2px;
}

.to p{
    margin: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 5, 5); 
}

.select-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.from p{
    margin: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 5, 5);
}

.wrapper #myfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 50px;
    background-color: rgb(0, 0, 0);
    height: 30px;
}

.select-box{
    background-color: rgb(201, 167, 233);
    padding: 3px;
    border-radius: 0.5rem;
}
.select-box:hover{
    background-color: rgb(241, 123, 12);
    transition: 1s;
    box-shadow: 0 3px 0.8px rgb(247, 247, 8);
}
.select-box img{
    width: 30px;
    height: 30px;
}

form :where(select){
    width: 100px;
    border: none;
    outline: none;
    background: none;
}

button{
    margin-top: 40px;
    margin-left: 70px;
    padding: 5px;
    width: 150px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    border: none;
}

button:hover{
    background-color: blueviolet;
    transition: 1s;
}

.to .select-box{
    margin-left: 5px;
}

.from .select-box{
    margin-left: 2px;
}

.from .select-box select{
    color: rgb(7, 7, 255);
    font-family: sans-serif;
}

.to .select-box select{
    color: rgb(7, 7, 255);
    font-family: sans-serif;
}
